# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# Empaquetado / distribución
build/
dist/
*.egg-info/
